.tipRoot {
  @apply absolute top-0 left-0 w-full h-full;

  padding: 120px 10% 150px;
  z-index: 1211;

  @media (max-width: 767px) {
    padding: 43px 20px 20px;
    bottom: auto;
  }
}

.tip {
  @apply relative w-full;

  padding: 48px 90px 32px;
  border-radius: 30px;
  background-color: #8CCF3A;

  @media (max-width: 767px) {
    padding: 43px 20px 20px;
    bottom: auto;
  }
}

.tipWrapper {

}

.tipHeader {
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  text-align: center;
}

.tipLogoWrapper {
  display: inline-flex;
  text-align: center;
  color: #6EAD20;
  border-radius: 50%;
  border: 4px solid #8CCF3A;
  box-sizing: border-box;
}

.tipLogo {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  background: #ffffff;
  box-shadow: 1px 2px 2px rgb(0 0 0 / 35%);

  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  color: #6EAD20;
}

.tipBody {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #2C2C2C;

  @media (max-width: 767px) {
    margin-top: 8px;
    font-size: 14px;
    line-height: 16px;
  }
}

.tipCloseWrapper {
  position: absolute;
  top: 23px;
  right: 23px;

  @media (max-width: 767px) {
    top: 12px;
    right: 12px;
  }
}

.tipClose {
  width: 35px;
  height: 35px;
  background: #C6E79C;
  border-radius: 50%;

  @apply flex flex-center cursor-pointer;
}

.btnWrapper {
  @apply flex flex-center uppercase text-center cursor-pointer;

  background: #FFFFFF;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
  border-radius: 30px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2C2C2C;

  padding: 4px 16px !important;

  margin: 24px auto;

  @media (max-width: 767px) {
    margin: 12px auto 0;
  }
}