.wrapper {
  background: #3D8ACB;
  width: 100%;
  height: 100%;
  position: relative;
}

.heading {
  position: absolute;
  top: 32px;
  left: 27px;

  color: #FFF;
  font-size: 28px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.55px;
  text-transform: uppercase;

  b {
    font-weight: 600;

  }
}

.content {
  position: absolute;
  top: 118px;
  left: 14px;
  right: 14px;
  min-height: 250px;
  display: flex;
  flex-direction: column;

  background: #fff;
  border-radius: 12px;

  padding: 40px 12px 18px;
}

.name {
  color: #232323;
  padding-left: 148px;

  font-size: 18px;
  font-weight: 300;
  line-height: 110%;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  b {
    font-weight: 800;
  }
}

.med {
  position: absolute;
  left: -4px;
  top: -8px;
  pointer-events: none;
}

.time {
  color: #232323;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.06px;
  padding-left: 148px;

  margin: 16px 0 48px 0;

  flex-grow: 1;
}

.button {
  border-radius: 4px;
  background: #016FC3;
  outline: none;
  border: none;
  width: 100%;

  padding: 12px;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0.28px;
  text-transform: uppercase;

}

.controls {

}